@use './variables' as v;

.add-channel-modal{
    z-index: 10;
    position:fixed;
    @include v.center;
    height:100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.26);
    flex-direction: column;
}

.create-channel-cont{
    min-height: 10rem;
    width:20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    color:black;
    flex-direction: column;
    padding: 1rem;
    background-color: v.$primaryColor;
    span{
        font-size: v.$largeFont;
        font-weight: bold;
        color:white;
        text-align: center;
        margin-bottom: 2rem;
        font-size: v.$header;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 80%;
        // border: 1px solid red;
        background-color: white;
        border-radius:  1rem;
        height: 9rem;
        align-items: center;
        justify-content: space-around;
        button{
            width: fit-content;
            padding:0.5rem;
            border-radius: 1rem;
            font-family: v.$fontStyle;
            background-color:v.$darkPink;
            color: white;
            cursor:pointer;
            margin: 0 0.5rem;
        }
        button:hover{
            background-color: v.$faintSecondary;
            color: v.$darkPink;
        }
        input{
            border-radius: 1rem;
            padding: 0.5rem;
            background-color: v.$offWhite;
            border: none;
            margin-top: 1rem
        };
        input:focus{
            outline: 2px solid v.$darkPink;

        }
    }
    
}



    