@use './variables' as v;


.dashboard-cont{
    @include v.center;
    // border: 1px solid red;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    nav{
        
        height: 100vh;
        width: 5vw;
        display:flex;
        flex-direction: column;
        
        header{
            background-color: white;
            height: 10vh;
            width: 5vw;
            display: flex;
            a{
                @include v.center;
                img{
                    width:3.5rem;
                    padding:1rem;
                    padding-right:0.5rem;
                }
            } 
        }
        .option-cont{
            // border: 1px solid red;
            width: 25vw;
            height: 70vh;
            ul{
                padding:1rem;
                li{
                    a{  
                        @include v.center;
                        text-align: center;
                        padding: 0.5rem;
                        margin:0.5rem;
                        width: fit-content;
                        border-radius: 1rem;
                        color:v.$darkPink;
                        flex-direction: row;
                        font-weight: normal;
                        

                        
                    }
                }
                li:hover{
                    a{  
                        
                        .sidebar-icons{
                            color: v.$secondaryColor;
                        } 
                    }
                }
            }
        }


        footer{
            height:20vh;
            width: 25vw;
            .sidebar-profile{
                display:flex;
                align-items: center;
                justify-content: flex-start;
                max-width: fit-content;
                padding: 0.5rem;
                margin:0.5rem;
                border-radius: 1rem;
                img{
                    width:3rem;
                }

            }
            .sidebar-profile:hover{
                background-color: v.$faintSecondary;
            }
            a{  
                @include v.center;
                text-align: center;
                padding: 0.5rem;
                margin:0.5rem;
                margin-left:1rem;
                width: fit-content;
                border-radius: 1rem;
                color:v.$darkPink;
                flex-direction: row;
                font-weight: normal;
                cursor: pointer;
            }
            a:hover{  
                
                .sidebar-icons{
                    color: v.$secondaryColor;
                } 
               
            }
        }    
    }
    
    main{
        // border: 1px solid blue;
        height: 100vh;
        width: 95vw;
        display: flex;
        flex-direction: row;
       
        .content-cont{
            height:100vh;
            width: 95vw;
            // border: 1px solid orange
            .background{
                height:100vh;
                width: 95vw;
                @include v.center;
                justify-content: flex-end;
                position: fixed;
                padding-left: 8rem;
                z-index: -1;
                @include v.gradient(right);
                img{
                    width: 80vw;
                    
                    
                }
            }

        }
        
    }

   
    
   
}

// .sidebar-icons{
    
// }
@import './DirectMessages';
@import './getChannelDetails';







