.direct-message-cont{
    height: 100vh;
    width: 95vw;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    
}

.inbox{
    height:100vh;
    width: 20vw;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    background-color: v.$faintPrimary;
    header{
        height: 10vh;
        background-color: v.$primaryColor;
        width: 20vw;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        .add-channel-icon{
            color:v.$darkPink;
            padding:0.25rem;
            border-radius: 1rem;
            background-color: white;
            cursor: pointer;
        }
        .add-channel-icon:hover{
            background-color: v.$faintSecondary;
        }
        h1{
            font-size: v.$largeFont;
            padding: 0.8rem;
            background-color:WHITE;
            font-weight: 500;
            border-radius: 2rem;
            color: v.$darkPink;
        }
    }
}

.inbox-messages{
    // border: 1px solid red;
    height: 90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    font-style: v.$fontStyle;
}

.inbox-item{
    @include v.center;
    width: 20vw;
    cursor: pointer;
    background-color: v.$faintPrimary;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    img{
        width:3rem;
        padding-right: 0.5rem;
    }
    .item-text{
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        
        h1{
            width: 13rem;
            // border: 1px solid red ;
            font-family: v.$fontStyle;
            font-size: v.$normalFont;
            font-weight: 450;
            color:v.$darkPink;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
        }
        span{
            // border: 1px solid red;
            max-width: 10rem;
            font-size: v.$smallFont;
            text-align: left;
            font-family: v.$fontStyle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
   
}
.inbox-item:hover{
    background-color: white;
    

}

.message-content{
    height: 100vh;
    width: 75vw;
    // border: 1px solid green;
    color: v.$messageIcons;
    background-color: white;
    @include v.center;
    header{
        height:10vh;
        background-color: white;
        width: 75vw;
        @include v.center;
        flex-direction: row;
        justify-content: space-between;
      
        .header-name{
            width: 17rem;
            margin-left: 2rem;
            padding: 0.5rem;
            @include v.center;
            flex-direction: row;
            border-radius: 3rem;
            img{
                width: 2.5rem;
            }
            h1{
                padding: 1rem;
                border-radius: 3rem;
                font-size: v.$normalFont;
                background-color: white;
                font-weight: bold;
            }
        }
        .header-left{
            margin-left:1rem;
            .message-icons{
                color: v.$messageIcons;
                width: 2rem;
                height: 1.5rem;
                padding: 0.5rem;
                cursor: pointer;
                border-radius: 2rem;
            }
            .message-icons:hover{
                background-color: v.$faintSecondary;
            }
        }
        .header-right{
            height: fit-content;
            width: fit-content;
            display: flex;
            justify-content: space-around;
            margin-right:1rem;
            .message-icons{
                color: v.$messageIcons;
                width: 2rem;
                height: 1.5rem;
                padding: 0.5rem;
                cursor: pointer;
                border-radius: 2rem;
            }
            .message-icons:hover{
                background-color: v.$faintSecondary;
            }
           
        }
        
    }

  
   .message-body-cont{
        height: 90vh;
        width: 75vw;
        // border: 1px solid blue;
        .message-body{
            height:75vh;
            width: 75vw;
            background-color: v.$offWhite;
            .message-box {
                display: flex;
                flex-direction: column;
                height: 75vh;
                overflow-y: auto;
                
                .sender-message{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 1rem;
                    // border: 1px solid blue;
                    p{
                        max-width:50rem;
                        padding: 1rem;
                        margin: 0.3rem;
                        border-radius: 2rem;
                        background-color: white;
                        color: black;
                        display: flex;
                        flex-direction: column;
                        span{
                            padding-bottom: 0.5rem;
                            color: v.$messageIcons;
                        }
                    }
                }
                .receiver-message{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    // border: 1px solid blue;
                    p{
                        max-width:50rem;
                        padding: 1rem;
                        margin: 0.3rem;
                        border-radius: 2rem;
                        background-color: v.$primaryColor;
                        color: white;
                    }
                }
            }
            @include v.scrollbar(".message-box");
            
        }
        .message-input-box{
            // border: 1px solid red;
            height: 15vh;
            width: 75vw;
            background-color: white;
            @include v.center;
            .send-inner-cont{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70vw;
                // border: 1px solid green;
            }
            
        }

   }
}

.send-message-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    // border: 1px solid red;
    height: 100%;
    width: 100%;

    .send-message-box{
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .send-message-icons-cont{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width:15%;
            // border:1px solid red;
            
            .message-icons{
                color: v.$messageIcons;
                width: 2rem;
                height: 2rem;
                padding: 0.25rem;
                margin:0.25rem;
                margin-left:1rem;
                cursor: pointer;
                border-radius: 2rem;
            }
            .message-icons:hover{
                background-color: v.$faintSecondary;
            }
        }
        .textarea-cont{
            // border: 1px solid red;
            width: 75%;
            height:100%;
            @include v.center;
            textarea{  
                width: 100%;   
                font-family: inherit;
                border: none;
                outline: none;
                resize: none; 
                border-radius: 5rem;
                padding: 0.5rem;
                overflow: hidden;
                text-align: justify;
                background-color: v.$offWhite;
            }
            textarea:hover{
                overflow-y: auto;
            }
        }
        .send-button-cont{
            @include v.center;
            width: 5%;
            // border: 1px solid red;
            button{
             padding: 0.5rem;
             border-radius: 3rem;  
             background-color: transparent;
             @include v.center;
             .message-icons{
                height: 1.5rem;
                width: 1.5rem;
                color: v.$messageIcons;
                cursor: pointer;
                
             }  
            }
            button:hover{
                background-color: v.$faintSecondary;
                .message-icons{
                    height: 1.5rem;
                    width: 1.5rem;
                    cursor: pointer;
                    
                 } 
            }
        }
       
        
    }
    
}







