@use './variables' as v;

.get-channel-details-modal{
    z-index: 2;
    position:absolute;
    @include v.center;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    @include v.shadow;
    .channel-owner{
        margin-bottom: 1rem;
        span{
            color:black;
        }
    }
    .channel-members-list{
        color:black;
    }
    
}

