@import url('https://fonts.cdnfonts.com/css/poppins');


//colors
$primaryColor:#ef4a75;
$secondaryColor:  #FFCB37;
$tertiaryColor: #FF5864;
$offWhite: #E8E8E8;



//font style
$fontStyle: 'Poppins', sans-serif;

//font size 
$header: 2rem;


//mixins
@mixin gradient($direction) {
  background: linear-gradient(to $direction, $primaryColor, $secondaryColor);
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

@mixin shadow{
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.69);
-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.69);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.69);
}