@import url('https://fonts.cdnfonts.com/css/roboto');

//colors
$primaryColor:#ff69b4a2;
$darkPink:#ff69b4;
$faintPrimary:#fff5fa;
$secondaryColor:  #ffdb58;
$faintSecondary:#fff3c7;
$tertiaryColor: #FF5864;
$offWhite: #e0e0e083;
$iconColor: $primaryColor;
$messageIcons:#ff69b4;


//font style
$fontStyle: 'Roboto', sans-serif;

//font size 
$header: 2rem;
$largeFont:1.2rem;
$normalFont:1rem;
$smallFont:0.8rem;



//mixins
@mixin gradient($direction) {
  background: linear-gradient(to $direction, $primaryColor, $secondaryColor);
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

@mixin shadow{
  box-shadow: 0px 0px 6px 0px $secondaryColor;
-webkit-box-shadow: 0px 0px 6px 0px $secondaryColor;
-moz-box-shadow: 0px 0px 6px 0px $secondaryColor;
}

@mixin scrollbar($className) {
  #{$className}::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  #{$className}::-webkit-scrollbar-thumb {
    background-color: #ff69b4a2; /* Color of the scrollbar thumb */
  }
  
  #{$className}::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
  }
}