@import url("https://fonts.cdnfonts.com/css/poppins");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  font-style: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

.login-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.login-cont .login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.69);
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}
.login-cont .login-box img {
  width: 40vmin;
}
.login-cont .login-box input {
  border-radius: 1rem;
  padding: 0.5rem 4rem;
  border: none;
  background-color: #E8E8E8;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
  font-family: "Poppins", sans-serif;
}
.login-cont .login-box button {
  background: linear-gradient(to right, #ef4a75, #FFCB37);
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 4rem;
  margin: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.login-cont .login-box button:hover {
  background: linear-gradient(to left, #ef4a75, #FFCB37);
}
.login-cont .login-box p {
  font-size: 0.8rem;
}
.login-cont .login-box p a {
  color: #FF5864;
  font-weight: bold;
}

.sign-up-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.sign-up-cont form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.69);
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}
.sign-up-cont form input {
  border-radius: 1rem;
  padding: 0.5rem 4rem;
  border: none;
  background-color: #E8E8E8;
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.sign-up-cont form button {
  background: linear-gradient(to right, #ef4a75, #FFCB37);
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 4rem;
  margin: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.sign-up-cont form button:hover {
  background: linear-gradient(to left, #ef4a75, #FFCB37);
}/*# sourceMappingURL=style.css.map */